{% extends "base.html" %}
{% set active_page = "status" %}
{% block content %}
<div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title"></h3>
    </div>
    <div class="panel-body">
      <div>
        <p><b>FQDN:</b> {{ os_fqdn }}</p>
        <p><b>Release:</b> {{ os_release }}</p>
        <p><b>Memory:</b> {{ os_memory }}M</p>
        <p><b>CPU:</b> {{ cpu_type }}, {{cpu_cores}} Core(s)</p>
        <p><b>Network:</b> {{ os_network }}</p>
        <p><b>Disk:</b> {{ disk_usage }}</p>
        <p><b>Stats:</b><br>
        {% for top_info_item in top_info_list %}
          {{ top_info_item }}<br>
        {% endfor %}
        </p>
      </div>
    </div>
</div>
{% endblock %}
